<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bell</key>
	<false/>
	<key>ShouldRestoreContent</key>
	<false/>
	<key>ShowActiveProcessArgumentsInTitle</key>
	<false/>
	<key>ShowActiveProcessInTitle</key>
	<false/>
	<key>ShowCommandKeyInTitle</key>
	<true/>
	<key>ShowDimensionsInTitle</key>
	<false/>
	<key>ShowRepresentedURLInTitle</key>
	<false/>
	<key>ShowRepresentedURLPathInTitle</key>
	<true/>
	<key>ShowShellCommandInTitle</key>
	<false/>
	<key>ShowTTYNameInTabTitle</key>
	<false/>
	<key>VisualBell</key>
	<true/>
	<key>WindowTitle</key>
	<string>Terminal</string>
	<key>columnCount</key>
	<integer>160</integer>
	<key>rowCount</key>
	<integer>58</integer>
	<key>shellExitAction</key>
	<integer>1</integer>
  <key>useOptionAsMetaKey</key>
  <true/>
</dict>
</plist>
